<div class="content-column">
    <ul class="search-results">
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/stream">stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~juliangruber">juliangruber</a>
                </h3>


                <p class="description">Node.js streams in the browser</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.0.2</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/stream-stream">stream-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~floby">floby</a>
                </h3>


                <p class="description">A stream of streams in order to concatenates the contents of several streams</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v1.2.6</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream,&nbsp;
                    streams,&nbsp;
                    concatenates,&nbsp;
                    concatenation,&nbsp;
                    utility
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/all-stream">all-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~adjohnson916">adjohnson916</a>
                </h3>


                <p class="description">Consume entire stream via buffer.</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.1.0</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/stream-string">stream-string</a>
                    &nbsp;&nbsp;<a class="author" href="/~jamescostian">jamescostian</a>
                </h3>


                <p class="description">Converts a stream to a string and supports promises.</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v1.0.2</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/as-stream">as-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~andreypopp">andreypopp</a>
                </h3>


                <p class="description">Represent stream, buffer an object or a list of those as a stream</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.1.1</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/coseva-stream">coseva-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~artarf">artarf</a>
                </h3>


                <p class="description">transform csv stream into stream of array objects</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.0.1</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream,&nbsp;
                    csv
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/protobufjs-stream">protobufjs-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~jbenet">jbenet</a>
                </h3>


                <p class="description">ProtoBuf stream</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.1.1</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    ProtoBuf,&nbsp;
                    stream
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/dir-stream">dir-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~jarofghosts">jarofghosts</a>
                </h3>


                <p class="description">stream filenames</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v1.0.0</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    ls,&nbsp;
                    stream,&nbsp;
                    files
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/fake-stream">fake-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~bancek">bancek</a>
                </h3>


                <p class="description">Fake file stream for testing</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.1.1</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream,&nbsp;
                    test
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/formidable-stream">formidable-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~bancek">bancek</a>
                </h3>


                <p class="description">Turn node formidable's file part into stream</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.1.1</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream,&nbsp;
                    test
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/stream-bandwidth">stream-bandwidth</a>
                    &nbsp;&nbsp;<a class="author" href="/~pmarques">pmarques</a>
                </h3>


                <p class="description">Give a stream bandwidth</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.0.2</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream,&nbsp;
                    bandwidth
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/chunked-stream">chunked-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~dshaw">dshaw</a>
                </h3>


                <p class="description">Chunked Stream on a pattern. \n by default.</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.0.2</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/stream-promise">stream-promise</a>
                    &nbsp;&nbsp;<a class="author" href="/~cwmma">cwmma</a>
                </h3>


                <p class="description">writable stream which resolves promises</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v1.0.0</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream,&nbsp;
                    promise
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/child-stream">child-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~dshaw">dshaw</a>
                </h3>


                <p class="description">Child process read stream</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.0.1</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    child_process,&nbsp;
                    stream,&nbsp;
                    readstream
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/sha1-stream">sha1-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~nullivex">nullivex</a>
                </h3>


                <p class="description">Node SHA1 stream library</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.1.0</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    sha1,&nbsp;
                    stream
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/lazy-stream">lazy-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~nathan7">nathan7</a>
                </h3>


                <p class="description">a simple lazy stream</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v2.0.1</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    lazy,&nbsp;
                    stream
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/stream-utils">stream-utils</a>
                    &nbsp;&nbsp;<a class="author" href="/~kylepdavis">kylepdavis</a>
                </h3>


                <p class="description">Stream utilities with support for stream resets.</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v0.0.2</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream,&nbsp;
                    streams,&nbsp;
                    pipe,&nbsp;
                    utility
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/permutation-stream">permutation-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~rockinghorse">rockinghorse</a>
                </h3>


                <p class="description">permutate an input stream</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>1</span>
                    &nbsp;&nbsp;<span class="version">v0.1.0</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    permutation,&nbsp;
                    stream,&nbsp;
                    permutate
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/debounce-stream">debounce-stream</a>
                    &nbsp;&nbsp;<a class="author" href="/~fardog">fardog</a>
                </h3>


                <p class="description">Debounces a stream.</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>0</span>
                    &nbsp;&nbsp;<span class="version">v2.0.0</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream,&nbsp;
                    debounce
                </p>

            </div>
        </li>
        <li>
            <div class="package-details">
                <h3>
                    <a class="name" href="/package/stream-bouncer">stream-bouncer</a>
                    &nbsp;&nbsp;<a class="author" href="/~gmturbo">gmturbo</a>
                </h3>


                <p class="description">a stream queue module</p>

                <p class="stats">
                    <span class="stars"><i class="icon-star"></i>1</span>
                    &nbsp;&nbsp;<span class="version">v1.0.2</span>

                </p>

                <p class="keywords">
                    <i class="icon-tag"></i>
                    stream,&nbsp;
                    streams,&nbsp;
                    queue,&nbsp;
                    multi-stream
                </p>

            </div>
        </li>
    </ul>
    <div class="pagination">

        <a href="/search?q=stream&amp;page=2" class="next">Next Page</a>
    </div>
</div>